kestra/flows/gc_extract_load.yml
id: gc_extract_load
namespace: ai_economic_index

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ secret('GC_SERVICE_ACCOUNT') }}"
      projectId: "{{ kv('GC_PROJECT_ID') }}"
      location: "{{ kv('GC_LOCATION') }}"
      bucket: "{{ kv('GC_BUCKET_NAME') }}"

variables:
  base_url_2026: "https://huggingface.co/datasets/Anthropic/EconomicIndex/resolve/main/release_2026_01_15/data/intermediate"
  base_url_2025: "https://huggingface.co/datasets/Anthropic/EconomicIndex/resolve/main/release_2025_09_15/data"
  files:
    - url: "{{ vars.base_url_2026 }}/aei_raw_claude_ai_2025-11-13_to_2025-11-20.csv?download=true"
      filename: "aei_raw_claude_ai_2025-11-13_to_2025-11-20.csv"
    - url: "{{ vars.base_url_2025 }}/intermediate/aei_raw_claude_ai_2025-08-04_to_2025-08-11.csv?download=true"
      filename: "aei_raw_claude_ai_2025-08-04_to_2025-08-11.csv"
    - url: "{{ vars.base_url_2025 }}/input/task_pct_v1.csv?download=true"
      filename: "task_pct_v1.csv"
    - url: "{{ vars.base_url_2025 }}/input/task_pct_v2.csv?download=true"
      filename: "task_pct_v2.csv"
    - url: "{{ vars.base_url_2025 }}/input/automation_vs_augmentation_v1.csv?download=true"
      filename: "automation_vs_augmentation_v1.csv"
    - url: "{{ vars.base_url_2025 }}/input/automation_vs_augmentation_v2.csv?download=true"
      filename: "automation_vs_augmentation_v2.csv"

tasks:
  - id: set_labels
    type: io.kestra.plugin.core.execution.Labels
    labels:
      source: huggingface
      dataset: EconomicIndex

  - id: create_dataset
    type: io.kestra.plugin.gcp.bigquery.CreateDataset
    name: "{{ kv('GC_RAW_DATASET') }}"
    ifExists: SKIP

  - id: download_upload_load
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ render(vars.files) }}"
    tasks:
      - id: download
        type: io.kestra.plugin.core.http.Download
        uri: "{{ json(taskrun.value).url }}"

      - id: upload
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{ outputs.download[taskrun.value].uri }}"
        to: "gs://{{ kv('GC_BUCKET_NAME') }}/{{ json(taskrun.value).filename }}"

      - id: load_to_bq
        type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
        from:
          - "{{ outputs.upload[taskrun.value].uri }}"
        destinationTable: "{{ kv('GC_PROJECT_ID') }}.{{ kv('GC_RAW_DATASET') }}.{{ json(taskrun.value).filename
            | replace({'.csv': ''})
            | replace({'-': '_'})
          }}"
        format: CSV
        autodetect: true
        writeDisposition: WRITE_TRUNCATE
        csvOptions:
          allowQuotedNewLines: true
          fieldDelimiter: ","
          skipLeadingRows: 1

  - id: purge_execution_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles